@media (min-width: 1200px) {

    .content-sidebar .container {
        width: 1150px;
    }

    /* content-sidebar*/
    .content-sidebar .content.col-lg-9 {
        width: 70%;
    }
    .content-sidebar .sidebar.col-lg-3 {
        width: 30%;
    }
    
    /* sidebar-content*/
    .sidebar-content .content.col-lg-push-3 {
        left: 30%;
        width: 70%;
    }
    .sidebar-content .sidebar.col-lg-pull-9 {
        right: 70%;
        width: 30%;
    }
    .col-lg-push-3 {
        left: 30%!important;
    }

}
